/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    0deg,
    var(--primary-color) 12%,
    var(--tritery-color) 34%,
    var(--secondary-color) 83%
  );
}
